<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Login</title>
</head>
<body>
    <div class="container">
        <form action="/register" method="post" class="register">
            <h2 class="text-primary">Register</h2>
            {% with messages = get_flashed_messages(category_filter=['regi']) %}
                {% if messages %}
                <div class="alert alert-danger" role="alert">
                    <strong>All Fields Must Be Met</strong>
                        {% for message in messages %}
                        <p>{{message}}</p>
                        {% endfor %}
                </div>
                {% endif %}
            {% endwith %}
            <div class="form-group">
                <label for="first_name">First Name: </label>
                <input type="text" name="first_name" class="form-control">
            </div>
            <div class="form-group">
                <label for="last_name">Last Name: </label>
                <input type="text" name="last_name" class="form-control">
            </div>
            <div class="form-group">
                <label for="email">Email:  </label>
                <input type="text" name="email" class="form-control">
            </div>
            <div class="form-group">
                <label for="password">Password: </label>
                <input type="password" name="password" class="form-control">
            </div>
            <div class="form-group">
                <label for="confirm">Confirm Password:</label>
                <input type="password" name="confirm" class="form-control">
            </div>
            <input type="submit" value="register" class="btn">
        </form>
        <form action="/login" method="post" class="login">
            <h2 class="text-primary">Login</h2>
            <div class="form-group">
                {% with messages = get_flashed_messages(category_filter=['log']) %}
                {% if messages %}
                <div class="alert alert-danger" role="alert">
                    <strong>All Fields Must Be Met</strong>
                        {% for message in messages %}
                        <p>{{message}}</p>
                        {% endfor %}
                </div>
                {% endif %}
            {% endwith %}
                <label for="email">Email: </label>
                <input type="text" name="email" class="form-control">
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" name="password">
            </div>
            
            <input type="submit" value="login" class="btn">
        </form>
    </div>
</body>
</html>
